{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Anaclet Ahishakiye</title>
    <link rel="shortcut icon" href="{% static 'img/favicon.png' %}">

    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

    <script src="{% static 'js/jquery-3.6.4.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'js/popper.min.js' %}"></script>

    <link rel="stylesheet" href="{% static 'font-awesome/all.min.css' %}">
    <script src="{% static 'font-awesome/all.min.js' %}"></script>


</head>

<body>

    <div class="container-fluid">

        <div class="row">
            <div class="col-md-12">
                {% include 'parts/navbar.html' %}
            </div>
        </div>

        <div class="row">
            <div class="col-md-1 social-column">
                <ul>
                    <li>
                        <a href="https://github.com/anaclet922" target="_blank"><i class="fab fa-github"></i></a>
                    </li>
                    <li>
                        <a href="https://www.instagram.com/iam_anaclet/" target="_blank"><i
                                class="fab fa-instagram"></i></a>
                    </li>
                    <li>
                        <a href="https://twitter.com/AnacletAhisha" target="_blank"><i class="fab fa-twitter"></i></a>
                    </li>
                    <li>
                        <a href="https://www.linkedin.com/in/anaclet-ahishakiye-b3b18618b/" target="_blank"><i
                                class="fab fa-linkedin-in"></i></a>
                    </li>
                    <li>
                        <div class="vl"></div>
                    </li>
                </ul>
            </div>
            <div class="col-md-10">
                {% include 'parts/about.html' %}

                <footer class="text-center">
                    <a href="https://github.com/anaclet922" class="bottom-copyright">
                       Built by Anaclet Ahishakiye
                        <br />
                        <i class="fas fa-star"></i> 4 &nbsp;&nbsp;&nbsp;<i class="fas fa-code-branch"></i> 6
                    </a>
                    <br />
                    <br />
                    <p style="font-size: 12px;">
                        This design is inspired by <a href="https://github.com/bchiang7/v4" target="_blank" style="color: #64FFDA;text-decoration: none;">Brittany
                        Chiang</a>'s open source designs.
                    </p>
                </footer>
            </div>
            <div class="col-md-1 email-column">
                <ul>
                    <li>
                        <a href="mailto:a.anaclet920@gmail.com" target="_blank"><i class="fas fa-at"></i>
                            a.anaclet920@gmail.com</a>
                    </li>
                    <li>
                        <div class="vl"></div>
                    </li>
                </ul>
            </div>
        </div>


    </div>

</body>

</html>