{% load static %}

<div class="about-div">
    <span class="greeting">Hi👋, my name is</span>
    <br/>
    <div class="names">Anaclet Ahishakiye.</div>
    <div class="short-intro">I build things for web👨🏾‍💻.</div>
    <div class="intro">
      I am a software engineer specializing in building (and occasionally designing) exceptional digital solutions and experiences. Currently, I'm focussed on building accessible, easy-to-use systems at <a href="https://www.radiantyacu.rw/" target="_blank" style="color: #64FFDA; font-weight: bold;text-decoration: none;">RADIANT YACU ltd.</a>
    </div>
    <br/>
    <p>
        <a href="" class="btn">
            Check out my works
        </a>
    </p>
</div>




<div class="about-me-full">
    <div class="row">
        <div class="col-md-12">
            <h4 class="section-header">
                <span>01. </span>About Me
            </h4>
            <div class="row">
                <div class="col-md-8 col-sm-8">
                    <br/>
                    <p>
                        Hello! My name is Anaclet and Inejoy creating things that live on the internet. My interest in web development started back in 2016 when I decided to try editing custom WordPress Theme -- Turns out hacking together a custom reblog button taught me a lot about HTML & CSS
                    </p>
                    <br/>
                    <p>
                        Fast-forward to today, and I’ve had the privilege of working at <a href="https://us.mullenlowe.com/" rel="noopener noreferrer" target="_blank">an advertising agency</a>, <a href="https://starry.com/" rel="noopener noreferrer" target="_blank">a start-up</a>, <a href="https://www.apple.com/" rel="noopener noreferrer" target="_blank">a huge corporation</a>, and <a href="https://scout.camd.northeastern.edu/" rel="noopener noreferrer" target="_blank">a student-led design studio</a>. My main focus these days is building accessible, inclusive products and digital experiences at <a href="https://upstatement.com/" rel="noopener noreferrer" target="_blank">Upstatement</a> for a variety of clients.
                    </p>
                    <br/>
                    <p>
                        I also recently <a href="https://www.newline.co/courses/build-a-spotify-connected-app" rel="noopener noreferrer" target="_blank">launched a course</a> that covers everything you need to build a web app with the Spotify API using Node &amp; React.
                    </p>
                    <br/>
                    <p>
                        Here are a few technologies I’ve been working with recently:
                    </p>
                    <ul class="skills-list">
                        <li>PHP</li>
                        <li>Java</li>
                        <li>Flutter/Dart</li>
                        <li>JavaScript</li>
                        <li>Three.js</li>
                        <li>CodeIgniter</li>
                        <li>Laravel</li>
                        <li>Django</li>
                    </ul>
                </div>
                <div class="col-md-4 col-sm-4">
                    <img src="{% static 'img/me.png' %}" alt="Me" class="about-me-photo">
                    <div class="photo-frame"></div>
                </div>
            </div>
        </div>
    </div>
</div>

