{% load static %}


<div class="contact-div" id="contact-div">
   <div class="row">
    <div class="col-md-12">
        <p class="text-center" style="color: #64ffda;">
            <span style="margin-right: 20px; color: #64ffda;">04.</span>What’s Next?
        </p>
        <h1 class="text-center" style="color: white;font-weight: bold;">Get In Touch</h1>
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <p class="text-center">
                    For any new opportunities, my inbox is always open. Whether you have a question or just want to say hi, I’ll try my best to get back to you!
                    <br>
                    <br>
                    <a href="mailto:a.anaclet920@gmail.com" class="btn" target="_blank">
                        Say Hello!
                    </a>
                    <br>

                </p>
            </div>
            <div class="col-md-3"></div>
        </div>
    </div>
   </div>
</div>
