{% load static %}


<div class="projects-div">
   <div class="row">
    <div class="col-md-12">
        <h4 class="section-header">
            <span>03. </span>Some Things I’ve Built
        </h4>

    </div>



    <div class="col-md-12" style="margin-top: 100px;">
        <h1 class="text-center" style="color: white;">Other Noteworthy Projects</h1>
        <p class="text-center">
            <a href="/archive" target="_blank" style="text-decoration: none; color: #64FFDA;">view the archive</a>
        </p>
        <br/>
        <div class="row">

            <div class="col-4">
                <div class="card shadow-lg noteworthy-project-item">
                    <div class="card-body">

                        <div class="d-flex justify-content-between  noteworthy-project-header">
                            <a href="">
                                <i class="fas fa-folder"></i>
                            </a>
                            <a href="" target="_blank">
                                <i class="fas fa-external-link"></i>
                            </a>
                        </div>
                        <br/>
                        <br/>
                        <h3 style="color: #64FFDA;">
                            Event Ticketing System
                        </h3>
                        <br/>
                        <p>
                            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Deserunt, aperiam.
                        </p>
                        <p class="languages-and-tech">
                            php - Javascript - JQuery - Bootstrap
                        </p>
                     
                    </div>
                </div>
            </div>

            <div class="col-4">
                <div class="card shadow-lg noteworthy-project-item">
                    <div class="card-body">

                        <div class="d-flex justify-content-between  noteworthy-project-header">
                            <a href="">
                                <i class="fas fa-folder"></i>
                            </a>
                            <a href="" target="_blank">
                                <i class="fas fa-external-link"></i>
                            </a>
                        </div>
                        <br/>
                        <br/>
                        <h3 style="color: #64FFDA;">
                            Event Ticketing System
                        </h3>
                        <br/>
                        <p>
                            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Deserunt, aperiam.
                        </p>
                        <p class="languages-and-tech">
                            php - Javascript - JQuery - Bootstrap
                        </p>
                     
                    </div>
                </div>
            </div>

            <div class="col-4">
                <div class="card shadow-lg noteworthy-project-item">
                    <div class="card-body">

                        <div class="d-flex justify-content-between  noteworthy-project-header">
                            <a href="">
                                <i class="fas fa-folder"></i>
                            </a>
                            <a href="" target="_blank">
                                <i class="fas fa-external-link"></i>
                            </a>
                        </div>
                        <br/>
                        <br/>
                        <h3 style="color: #64FFDA;">
                            Event Ticketing System
                        </h3>
                        <br/>
                        <p>
                            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Deserunt, aperiam.
                        </p>
                        <p class="languages-and-tech">
                            php - Javascript - JQuery - Bootstrap
                        </p>
                     
                    </div>
                </div>
            </div>


        </div>
    </div>
   </div>
</div>
