{% load static %}


<div class="projects-div" id="projects-div">
    <div class="row">
        <div class="col-md-12">

            <h4 class="section-header">
                <span>03. </span>Some Things I’ve Built
            </h4>

            <br>
            <br>
            <br>

            <div class="row">
                <div class="col-md-12 featured-project text-end">
                    <p class="color-theme">Featured Project</p>
                    <p class="featured-project-title">Event Ticketing System</p>
                    <div class="d-flex justify-content-end">
                        <div class="card featured-project-card shadow-lg">
                            <div class="card-body">
                                With this application event planners can create events in their dashboard and they will be presented on welcome page. For visitors, they can book their seats, pay and get their tickets in pdf format.
                            </div>
                        </div>
                    </div>
                    <br>
                    <p class="featured-project-tech-list">PHP <i class="fas fa-circle"></i> CodeIgniter <i
                            class="fas fa-circle"></i> REST API <i class="fas fa-circle"></i> JavaScript <i
                            class="fas fa-circle"></i> JQuery <i
                            class="fas fa-circle"></i> HTML</p>
                    <p>
                        <a href="https://github.com/anaclet922/event" class="link-icon" target="_blank">
                            <i class="fab fa-github"></i>
                        </a>
                    </p>
                </div>
            </div>

            <br>
            <br>
            <br>
            <br>

            <div class="row">
                <div class="col-md-12 featured-project-1 text-start">
                    <p class="color-theme">Featured Project</p>
                    <p class="featured-project-1-title">My Portifolio</p>
                    <div class="d-flex justify-content-start">
                        <div class="card featured-project-1-card shadow-lg">
                            <div class="card-body">
                                This is the application you're using now, this one. I created it so I can showcase my skills on digital life.
                            </div>
                        </div>
                    </div>
                    <br>
                    <p class="featured-project-1-tech-list">Python <i class="fas fa-circle"></i> Django <i
                            class="fas fa-circle"></i> HTML <i class="fas fa-circle"></i> JavaScript <i
                            class="fas fa-circle"></i> JQuery</p>
                    <p>
                        <a href="https://github.com/anaclet922/portifolio" class="link-icon" target="_blank">
                            <i class="fab fa-github"></i>
                        </a>
                    </p>
                </div>
            </div>


            <br>
            <br>
            <br>
            <br>

            <div class="row">
                <div class="col-md-12 featured-project-2 text-end">
                    <p class="color-theme">Featured Project</p>
                    <p class="featured-project-2-title">Bulk SMS Sender</p>
                    <div class="d-flex justify-content-end">
                        <div class="card featured-project-2-card shadow-lg">
                            <div class="card-body">
                                This app allow user to send SMS to a list of people, create groups of people with simular interests so you can send SMS to one group in future without re-uploading their list.
                            </div>
                        </div>
                    </div>
                    <br>
                    <p class="featured-project-2-tech-list">PHP <i class="fas fa-circle"></i> CodeIgniter <i
                            class="fas fa-circle"></i> REST API <i class="fas fa-circle"></i> JS <i class="fas fa-circle"></i> HTML</p>
                    <p>
                        <a href="https://github.com/anaclet922/sms_system" class="link-icon" target="_blank">
                            <i class="fab fa-github"></i>
                        </a>
                    </p>
                </div>
            </div>

        </div>



        <div class="col-md-12" style="margin-top: 100px;">
            <h1 class="text-center" style="color: white;">Other Noteworthy Projects</h1>
            <p class="text-center">
                <a href="https://github.com/anaclet922" target="_blank" style="text-decoration: none; color: #64FFDA;">view the archive</a>
            </p>
            <br />
            <div class="row">

                <div class="col-md-4 col-sm-12 col-xs-12">
                    <div class="card shadow-lg noteworthy-project-item">
                        <div class="card-body">

                            <div class="d-flex justify-content-between  noteworthy-project-header">
                                <a href="https://github.com/anaclet922/docx2pdf" target="_blank">
                                    <i class="fas fa-folder"></i>
                                </a>
                                <a href="https://github.com/anaclet922/docx2pdf" target="_blank">
                                    <i class="fas fa-external-link"></i>
                                </a>
                            </div>
                            <br />
                            <br />
                            <h3 style="color: #64FFDA;">
                                docx2pdf
                            </h3>
                            <br />
                            <p>
                                This script convert Word document to pdf.
                            </p>
                            <p class="languages-and-tech">
                                Python <i class="fas fa-circle"></i> PHP
                            </p>

                        </div>
                    </div>
                </div>

                <div class="col-md-4 col-sm-12 col-xs-12">
                    <div class="card shadow-lg noteworthy-project-item">
                        <div class="card-body">

                            <div class="d-flex justify-content-between  noteworthy-project-header">
                                <a href="https://github.com/anaclet922/fundle-search" target="_blank">
                                    <i class="fas fa-folder"></i>
                                </a>
                                <a href="https://github.com/anaclet922/fundle-search" target="_blank">
                                    <i class="fas fa-external-link"></i>
                                </a>
                            </div>
                            <br />
                            <br />
                            <h3 style="color: #64FFDA;">
                                Simple Search Engine
                            </h3>
                            <br />
                            <p>
                                This is source for fundle engine prototype. This search engine use Elasticsearch as it Web crawler and indexing web pages.
                            </p>
                            <p class="languages-and-tech">
                                php <i class="fas fa-circle"></i> Javascript <i class="fas fa-circle"></i> JQuery - Bootstrap <i class="fas fa-circle"></i> Elasticsearch
                            </p>

                        </div>
                    </div>
                </div>

                <div class="col-md-4 col-sm-12 col-xs-12">
                    <div class="card shadow-lg noteworthy-project-item">
                        <div class="card-body">

                            <div class="d-flex justify-content-between  noteworthy-project-header">
                                <a href="https://github.com/anaclet922/cipher" target="_blank">
                                    <i class="fas fa-folder"></i>
                                </a>
                                <a href="https://github.com/anaclet922/cipher" target="_blank">
                                    <i class="fas fa-external-link"></i>
                                </a>
                            </div>
                            <br />
                            <br />
                            <h3 style="color: #64FFDA;">
                                Cipher Saver
                            </h3>
                            <br />
                            <p>
                                Application for creating and storing user passwords, ciphers and keywords.
                            </p>
                            <p class="languages-and-tech">
                                Flutter/Dart <i class="fas fa-circle"></i> Getx <i class="fas fa-circle"></i> Hive
                            </p>

                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>
</div>