{% load static %}



<div class="where-have-worked">
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10">
            <h4 class="section-header">
                <span>02. </span>Where I've Worked
            </h4>
            <div class="row">
                <div class="col-md-12 col-sm-12">
                    <br />
                    <div class="row">
                        <div class="col-sm-auto">

                            <ul class="nav nav-tabs flex-column" id="myTabWherIWorked" role="tablist">
                                <li class="nav-item" role="presentation">
                                    <button class="nav-link active" id="radiant-yacu-tab" data-bs-toggle="tab"
                                        data-bs-target="#radiant-yacu" type="button" role="tab" aria-controls="radiant-yacu"
                                        aria-selected="true">RADIANT YACU LTD</button>
                                </li>
                                <li class="nav-item" role="presentation">
                                    <button class="nav-link" id="fundle-tab" data-bs-toggle="tab"
                                        data-bs-target="#fundle" type="button" role="tab" aria-controls="fundle"
                                        aria-selected="false">Fundle Ltd</button>
                                </li>
                                <li class="nav-item" role="presentation">
                                    <button class="nav-link" id="iconnect-tab" data-bs-toggle="tab"
                                        data-bs-target="#iconnect" type="button" role="tab" aria-controls="iconnect"
                                        aria-selected="false">iConnect Solutions</button>
                                </li>
                                <li class="nav-item" role="presentation">
                                    <button class="nav-link" id="freelancing-tab" data-bs-toggle="tab"
                                        data-bs-target="#freelancing" type="button" role="tab" aria-controls="freelancing"
                                        aria-selected="false">Freelancing</button>
                                </li>
                            </ul>
                        </div>
                        <div class="col">

                            <div class="tab-content">
                                <div class="tab-pane active" id="radiant-yacu" role="tabpanel" aria-labelledby="radiant-yacu-tab">
                                    <span class="where-i-worked-title">Head of IT Section @</span> <a href="https://www.radiantyacu.rw/" target="_blank" class="inline-link">RADIANT YACU</a>
                                    <br>
                                    January 2022 - Present
                                </div>
                                <div class="tab-pane" id="fundle" role="tabpanel" aria-labelledby="fundle-tab">
                                    <span class="where-i-worked-title">Front-end Engineer @ </span><a href="https://fundle.money/" target="_blank" class="inline-link">Fundle</a>
                                    <br>
                                    January 2022 - January 2023
                                </div>
                                <div class="tab-pane" id="iconnect" role="tabpanel" aria-labelledby="iconnect-tab">
                                    <span class="where-i-worked-title">Full stack developer @ </span><a href="https://iconnect.rw/" target="_blank" class="inline-link">iConnect Solutions</a>
                                    <br>
                                    June 2019 - March 2021
                                </div>
                                <div class="tab-pane" id="freelancing" role="tabpanel" aria-labelledby="freelancing-tab">
                                    <span class="where-i-worked-title">Freelancing @ </span> Online platforms like <a href="https://www.upwork.com/freelancers/~01f287b08f05b939db" target="_blank" class="inline-link">Upwork</a>
                                    <br>
                                    April 2020 - Present
                                </div>
                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </div>
        <div class="col-md-1"></div>
    </div>
</div>